.btn_manage_all{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.btn_manage {
    background-color: white;
    color: #001841;
    border: 2px solid #001841;
    width: 200px;
    height: 200px;
    font-size: 20px;
}

.btn_manage:hover {
    background-color: #001841;
    color: white;
}
